Package: org.gamecult.evecanvas
Name: EveCanvas
Version: 0.1.0
Architecture: iphoneos-arm
Description: Native iOS Eve runtime for Gjallar aggregate surfaces.
Maintainer: GameCult <meta@gamecult.org>
Author: GameCult
Section: Applications
