<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>en</string>
  <key>CFBundleDisplayName</key>
  <string>EveCanvas</string>
  <key>CFBundleExecutable</key>
  <string>EveCanvas</string>
  <key>CFBundleIdentifier</key>
  <string>org.gamecult.evecanvas</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>EveCanvas</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>0.1.0</string>
  <key>CFBundleVersion</key>
  <string>1</string>
  <key>LSRequiresIPhoneOS</key>
  <true/>
  <key>NSAppTransportSecurity</key>
  <dict>
    <key>NSAllowsArbitraryLoads</key>
    <true/>
  </dict>
  <key>NSCameraUsageDescription</key>
  <string>EveCanvas sends camera frames to Mimir for synchronized scene capture.</string>
  <key>NSMicrophoneUsageDescription</key>
  <string>EveCanvas sends microphone blocks to Mimir for synchronized audio capture.</string>
  <key>UIApplicationSupportsIndirectInputEvents</key>
  <true/>
  <key>UIRequiresFullScreen</key>
  <true/>
  <key>UIStatusBarHidden</key>
  <true/>
  <key>UIAppFonts</key>
  <array>
    <string>Fonts/Montserrat[wght].ttf</string>
    <string>Fonts/UbuntuSans[wdth,wght].ttf</string>
    <string>Fonts/UbuntuSansMono.ttf</string>
  </array>
  <key>UIViewControllerBasedStatusBarAppearance</key>
  <true/>
  <key>UISupportedInterfaceOrientations</key>
  <array>
    <string>UIInterfaceOrientationPortrait</string>
    <string>UIInterfaceOrientationPortraitUpsideDown</string>
    <string>UIInterfaceOrientationLandscapeLeft</string>
    <string>UIInterfaceOrientationLandscapeRight</string>
  </array>
</dict>
</plist>
